@model PalmFarm.Models.Cow

<div>      
<h1> <a asp-action="Index" class="me-2"><i class="fas fa-arrow-left" style="font-size:28px;" ></i></a>Create</h1>
</div>

<div class="row" style="font-size:18px">
    <h4 class="text-center">New Cow</h4>
<hr />
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UId" class="control-label" >Unique ID</label>
                <input asp-for="UId" class="form-control"/>
                <span asp-validation-for="UId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="NickName" class="control-label"></label>
                <input asp-for="NickName" class="form-control" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label">Birth Date <span style="color:red">*</span></label>
                <input asp-for="BirthDate" class="form-control" type="date" required/>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Sex" class="control-label">Sex <span style="color:red">*</span></label>
            <select class="custom-select form-control"  asp-for="Sex" >
                <option value="M" selected>M</option>
                <option value="F">F</option>
            </select>
            </div>
            <div class="form-group">
                <label asp-for="Kpn" class="control-label">KPN</label>
                <input asp-for="Kpn" class="form-control" />
                <span asp-validation-for="Kpn" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="MomUid" class="control-label">Mom's Unique ID</label>
                <input asp-for="MomUid" class="form-control" value="002"/>
                <span asp-validation-for="MomUid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Epd" class="control-label">EPD</label>
                <input asp-for="Epd" class="form-control"  placeholder="AAAA"/>
                <span asp-validation-for="Epd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" class="form-control" rows=4></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            
            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-primary" style="margin: 7px 0;"/>
            </div>
        </form>
    </div>
</div>

